streamlit

openai>=2.26.0,<3.0.0
langchain==1.2.13
langchain-core==1.2.19
langchain-openai==1.1.11
langchain-google-genai==4.2.1
langchain-anthropic==1.4.0

python-dotenv==1.1.1
pydantic==2.11.10
requests==2.32.5

instructor==1.12.0
grpcio==1.75.1
setuptools
wheel

numpy
requests
# google-api-python-client